<div class="container">
  <h2>商品一覧</h2>
  <h5>（全
  件）</h5>
  
  <% @items.each do |item| %>
    <!--%= image_tag item.image(100,100) %-->
    <%= item.name %>
    <%= item.non_taxed_price %>
  <% end %>
  <!--%= paginate public: :items %-->
  
  

    
  
</div>
