    <footer class="mt-auto fixed-bottom py-3" style="background-color: #F5A9A9 ">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <i class="fa-regular fa-copyright"> NAGANO CAKE</i>
        </div>
      </div>
        
    </footer>