<footer class="mt-auto py-3">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <i class="fa-regular fa-copyright"> NAGANO CAKE</i>
        </div>
      </div>
        
</footer>